@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

/* style for top nav bar */
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 48px 157px 45px 143px;
}
nav h2 a{
    color: rgb(13, 19, 33);
    text-decoration: none;
    font-size: 27px;
    font-weight: 800;
    line-height: 32px;
}
nav button{
    color: rgb(13, 19, 33);
    font-size: 19px;
    font-weight: 600;
    padding: 17px 23px 17px 23px;
    border: 1px solid rgb(13, 19, 33);;
    border-radius: 8px;
}
.button-2 button :hover{
    background-color: aliceblue;
    transform: scale(1.1);
    
}

/* hero banner part start  */
 
#hero{
    height: 620px;;
    width: 1366px;
    background-image: url(../assets/Hero-bg.png) ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content{
    width: 939px;
    height: 553px;

}
.img{
    display: flex;
    justify-content: center;
}
.banner-content h1{
    width: 948px;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.bannner-paragraph{
    color: rgb(13, 19, 33);
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.button{
    text-align: center;
}
.button-2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    border: none;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
/* hero banner part end  */

/* main sections start */
main{ 
    margin-left: 140px;
    margin-right: 144px;
    margin-top: 60px;
}

/* section-1 " why web dev ?" start */

#section-1{
    width: 1083px;
    height: 1225px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
#section-1 .main-div{
    width: 899px;
    height: 1173px;
    margin: 0 auto;
}
.div-titel h1 {
    font-family: Azeret Mono;
    margin: 45px 0px;
    color: rgb(13, 19, 33);
    font-size: 29px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.main-div .paragraph p {
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 46px;
}
.div-layer1{ 
    width: 807px;
    height: 248px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.div-l1-title h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    margin: 15px 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.div-l1-title p {
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.lm-batton{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin: 20px 0px;
align-items: center;
padding: 11px 18px 11px 18px;
}
.div-layer2{ 
    width: 807px;
    height: 248px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.div-l2-title h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    margin: 15px 0px 20px 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.div-l2-title p {
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.lm-batton{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin: 20px 0px;
align-items: center;
padding: 11px 18px 11px 18px;
}

/* section-1 " why web dev ?" end  */

/* main section-2 "My Inspiration" start   */

#section-2{
    width: 1020px;
    height: 736px;
}
.my-inspiration {
    width: 809px;
    margin: 0 auto;
}
.my-inspiration h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 29px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.inspiration-p p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 36px 0px;
}

iframe {
    width: 1080px;
    height: 583px;
    border-radius: 16px;
    margin-top: 36px;
    margin-bottom: 50px;
    display: block;
}
/* main section-2 "My Inspiration" end  */

 /* main section-3 "my current target" start  */
#section-3 {
    margin-top: 150px;
    width: 1083px;
}
#section-3 .target .target-title h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
} 
#section-3 .target .target-title p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 22px 0px;
}
#section-3 .card-all {
    display: flex;
    justify-content: space-evenly;
}

#section-3 .html {
        width: 320px; 
        height: 290px;
        margin: 100px 0px 30px 0px;
}
.html h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
}
.html p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
}
.html div {
    margin-top: 30px;
}
.html div a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

 /* section-4 "support part" start  */

 #section-4{
    width: 1082px;
    height: 314px; 
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) )
    ,url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 }
.section-contain h1 {   
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.section-contain p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
#section-4 input {
    width: 540px;
    height: 55px;
    padding: 19px 20px 19px 20px;
    font-family: Azeret Mono;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    margin-right: 15px;
}
#section-4 button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    padding: 17px 20px 17px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);

}
/* main sections end */

/* footer start  */

footer {
    width: 1365px;
    height: 95px;
}
.footer {
    width: 1083px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 45px;
}
footer nav a {
margin: 0px 30px;
}
/* footer end  */


